<app-loading *ngIf="isLoading"></app-loading>
<div *ngIf="!isLoading && account && getErrorCode() === null" class="tile is-ancestor height-full scrollable m-0 px-3 py-tablet-1">
  <div class="tile is-2 is-vertical is-parent">
    <div class="tile is-narrow is-child panel is-primary">
      <p class="panel-heading">Użytkownik</p>
      <div *ngIf="account" class="panel-block user">
        <h1 class="title is-5">{{ account.name }}</h1>
        <h2 *ngIf="account.number !== null" class="subtitle is-6">Numer: {{ account.number }}</h2>
      </div>
    </div>
    <app-panel class="tile is-child shortcuts" [items]="shortcuts" [header]="'Skróty'"></app-panel>
  </div>
  <div [ngSwitch]="getRole(account)" class="tile">
    <app-user-dashboard *ngSwitchCase="UserRole" class="tile" [account]="account" [data]="userData!!"></app-user-dashboard>
    <app-teacher-dashboard *ngSwitchDefault class="tile" [account]="account" [data]="teacherData!!"></app-teacher-dashboard>
  </div>
</div>
<app-error *ngIf="!isLoading && getErrorCode() !== null" class="tile" [code]="getErrorCode()!!" [link]="null"></app-error>
