<app-loading *ngIf="isOuter && isLoading"></app-loading>
<section *ngIf="(!isOuter || !isLoading) && errorCode === null" class="section height-full pb-0 px-5 pt-5">
  <div class="columns height-full is-centered">
    <div class="column height-full is-half-tablet is-two-fifths-desktop is-one-third-widescreen is-one-forth-fullhd py-only-mobile-0">
      <app-panel class="max-height-full" [main-link]="mainLink" [items]="items" [header]="header" [color]="color" [loading]="!isOuter && isLoading"></app-panel>
    </div>
  </div>
</section>
<app-error *ngIf="!isLoading && errorCode !== null" [message]="errorMessage" [code]="errorCode" [link]="errorLink"></app-error>
