/*
 * Copyright 2021 Marcin Zepp <nircek-2103@protonmail.com>
 * Copyright 2021 Miłosz Wąsacz <wasacz.dev@gmail.com>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

$border: 0.1em solid white;

app-about {
    min-height: 100vh;
    background-color: #333;
    line-height: 1;
    display: block;
    padding: 0.5% 0px;

    pre {
        all: initial;
        all: unset;
    }

    #photos {
        width: 100vw;
        display: block;
        margin: auto;
        @media screen and (min-width: 1600px) {
            width: 1600px;
        }
    }

    .main {
        width: max-content;
        margin: auto;
        font-family: monospace, monospace;
        border: $border;
        padding: 0.1em;
    }

    p,
    .main {
        font-size: 1.9vw;
        text-align: center;
        color: white;
        margin-top: 1.5%;
        @media screen and (min-width: 768px) {
            font-size: 0.9rem;
        }
    }

    .wrapper {
        display: block;
        border: $border;
    }

    .segment {
        padding: 0.5em;
        &:not(:last-child) {
            border-bottom: $border;
        }
    }

    a {
        color: aqua;
        &:visited {
            color: lime;
        }
        &:hover {
            color: violet;
        }
    }

    .is-back-button {
        width: 100%;
        display: flex;
        justify-content: center;
        & a {
            text-decoration: underline;
        }
    }
}
