# don't forget to `git submodule update --init --recursive`
# and then `git submodule update --remote --recursive`

[submodule "exercises"]
	path = backend/exercises
	url = https://github.com/Pikne-Programy/pikne-zadania-exercises

[submodule "RPN-parser"]
	path = backend/exts/eqex/RPN-parser
	url = https://github.com/Marwyk2003/RPN-parser.git
