@use "~bulma/sass/utilities/derived-variables" as dv;

:host {
  display: block;
  position: relative;
  height: 100%;
}

.box.warning {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 100%;
  margin: 1.5rem;
  padding: 1rem;
  z-index: 10;

  & .button {
    border: 1px solid dv.$warning-dark;
    color: findColorInvert(dv.$warning);
    &:not(:hover) {
      background-color: transparent;
    }
  }
  & .buttons {
    & .button {
      margin-left: 0.75rem;
      margin-right: 0;
    }
    & p {
      margin-bottom: 0.5rem;
    }
  }
}
