<div *ngIf="!isLoading && errorCode === null" class="columns height-full m-0">
  <!--#region Categories -->
  <div class="height-full column is-one-quarter-tablet is-one-fifth-desktop hide-on-mobile when-exercise" [ngClass]="{ 'exercise': exercise }">
    <div class="box height-full p-0">
      <aside class="menu height-full is-flex is-flex-direction-column">
        <!--#region Breadcrumbs -->
        <nav class="breadcrumb is-bold divider-bottom p-4 pb-4 mb-0" aria-label="breadcrumbs">
          <ul>
            <li *ngIf="!isSingleSubject" class="is-align-self-center">
              <a [routerLink]="['/']" tabindex="0">
                <span class="icon is-very-small pt-1">
                  <i class="fas fa-home" aria-hidden="true"></i>
                </span>
              </a>
            </li>
            <li *ngFor="let breadcrumb of breadcrumbs; index as i" tabindex="0" (keydown.enter)="navigateToBreadcrumb(breadcrumb, i)">
              <a (click)="navigateToBreadcrumb(breadcrumb, i)" aria-current="page">
                <span *ngIf="isSingleSubject && i === 0" class="icon">
                  <i class="fas fa-home" aria-hidden="true"></i>
                </span>
                <span>{{ getBreadcrumb(breadcrumb, i) | titlecase }}</span>
                <span *ngIf="isSubjectPrivate(breadcrumb, i)"><i>&nbsp;(Prywatny)</i></span>
              </a>
            </li>
          </ul>
        </nav>
        <!--#endregion-->
        <!--#region Category tree -->
        <div class="height-full scrollable px-4">
          <ul class="menu-list py-3">
            <li *ngFor="let node of currentNode?.children" tabindex="0" (keydown.enter)="navigate(node)">
              <a [ngClass]="{ 'is-active': isExerciseSelected(node)}" (click)="navigate(node)" class="menu-element is-flex is-align-items-baseline">
                <span class="column p-0">{{ node.value | titlecase }}</span>
                <span *ngIf="node.done !== undefined && node.done !== null" class="icon is-small p-0" [ngClass]="{
                  'is-success': node.done === 1,
                  'is-warning': node.done < 1 && node.done > 0,
                  'is-danger': node.done === 0
                }">
                  <i class="fas" [ngClass]="{
                    'fa-check': node.done === 1,
                    'fa-minus': node.done < 1 && node.done > 0,
                    'fa-times': node.done === 0
                  }" aria-hidden="true"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
        <!--#endregion-->
      </aside>
    </div>
  </div>
  <!--#endregion-->
  <!--#region Exercise -->
  <div class="column height-full hide-on-mobile when-null" [ngClass]="{ 'exercise': exercise }">
    <div class="box height-full is-flex is-flex-direction-column p-0">
      <!--#region Back button -->
      <nav class="level divider-bottom is-hidden-tablet p-2 m-0" (click)="resetExercise()">
        <div class="level-left">
          <button class="button is-rounded is-small">
            <span class="icon">
              <i class="fas fa-chevron-left"></i>
            </span>
            <span>Wróć</span>
          </button>
        </div>
      </nav>
      <!--#endregion-->
      <div *ngIf="exercise && !isExerciseLoading && exerciseErrorCode === null" class="height-full scrollable">
        <app-exercise [exercise]="exercise" (onAnswers)="refreshExerciseTree()"></app-exercise>
      </div>
      <app-image-placeholder *ngIf="!exercise && !isExerciseLoading && exerciseErrorCode === null"></app-image-placeholder>
      <app-loading *ngIf="isExerciseLoading && exerciseErrorCode === null"></app-loading>
      <app-error *ngIf="exerciseErrorCode !== null" [code]="exerciseErrorCode" [message]="getErrorMessage(exerciseErrorCode, true)"></app-error>
    </div>
  </div>
  <!--#endregion-->
</div>
<!--TODO Make loading component w/ pulsating logo -->
<app-loading *ngIf="isLoading && errorCode === null"></app-loading>
<app-error *ngIf="errorCode !== null" [code]="errorCode" [message]="getErrorMessage(errorCode)" [link]="null"></app-error>
