.columns.is-root {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.icon-text {
    align-items: baseline;

    & span.icon {
        font-size: 0.8em;
    }
}

label.panel-block.checkbox span {
    padding-top: 2px;
    padding-bottom: 2px;
}
