<p class="title is-spaced is-flex is-align-items-center width-full mb-3">
  {{ exercise.name }}
  <span class="icon-text ml-3">
    <button *ngIf="icon !== 'none'" class="icon is-size-4" [title]="getIconTitle()" (click)="onIconClick()">
      <i class="fas fa-pen is-hiding" [ngClass]="{
        'fa-pen is-hiding': icon === 'edit',
        'fa-plus': icon === 'add',
        'fa-check has-text-success': icon === 'added'
      }"></i>
    </button>
  </span>
</p>
<p *ngIf="exercise.desc" class="subtitle is-6 width-full ellipsis" [ngClass]="lineCountClass">{{ exercise.desc }}</p>
