<section class="section full-height full-width not-scrollable pb-0 px-5 pt-5">
  <div class="columns is-align-items-center is-justify-content-center full-height">
    <div class="column is-half-tablet is-two-fifths-desktop is-one-third-widescreen is-one-forth-fullhd full-height">
      <nav id="panel-subjects" class="panel max-height-full not-scrollable is-flex is-flex-direction-column">
        <p class="panel-heading">Przedmioty</p>
        <div *ngIf="isLoading" class="full-height is-flex is-align-items-center is-justify-content-center p-6">
          <progress class="progress width-70 is-small is-primary" max="100">15%</progress>
        </div>
        <nav class="panel full-height scrollable">
          <a class="panel-block" *ngFor="let subject of list" [routerLink]="[{ outlets: { 'content': ['subjects', subject.name] } }]">
            <span class="panel-icon">
              <i class="fas fa-book" aria-hidden="true"></i>
            </span>
            <span>{{ capitalize(subject.name) }}</span>
          </a>
        </nav>
      </nav>
    </div>
  </div>
</section>