@import "../../../styles.variables.scss";

.logo {
  max-width: 15vh;
  max-height: 15vh;

  @media screen and (orientation: portrait) {
    max-width: 15vw;
    max-height: 15vw;
  }
}

.hidden {
  visibility: hidden;
}

.button.back {
  margin-top: -0.5rem;
  margin-left: -0.75rem;
  margin-bottom: 0.25rem !important;
}

.field {
  margin-bottom: 0.75rem;
}

.help.outside {
  margin-top: -0.5rem;
  margin-bottom: 0.75rem;
}
