<div class="root">
  <div class="height-full is-flex is-justify-content-center">
    <div class="container columns vertical height-full m-0">
      <div class="column is-narrow is-flex is-align-items-center is-justify-content-center pt-only-mobile-5">
        <img class="logo" src="https://via.placeholder.com/512x512?text=Logo duże">
      </div>
      <div class="column is-narrow is-flex is-justify-content-center">
        <form class="width-80 pb-only-mobile-5" [formGroup]="form" (ngSubmit)="submit()">
          <div class="field">
            <label class="label">E-mail</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-primary" [ngClass]="{
                'is-primary': !email!.errors?.pattern && submitErrorCode !== submitError,
                'is-warning': email!.errors?.pattern,
                'is-danger': submitErrorCode === submitError
              }" type="email" formControlName="email" (input)="clearError()">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span *ngIf="email!.errors?.pattern" class="icon has-text-warning is-small is-right">
                <i class="fas fa-exclamation-triangle"></i>
              </span>
              <span *ngIf="submitErrorCode === submitError" class="icon has-text-danger is-small is-right">
                <i class="fas fa-times"></i>
              </span>
            </div>
            <p *ngIf="email!.errors?.pattern" class="help is-warning">Nieprawidłowy adres e-mail</p>
          </div>

          <div class="field">
            <label class="label">Hasło</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" [ngClass]="{
                'is-primary': submitErrorCode !== submitError,
                'is-danger': submitErrorCode === submitError
              }" type="password" formControlName="password" (input)="clearError()">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
              <span *ngIf="submitErrorCode === submitError" class="icon has-text-danger is-small is-right">
                <i class="fas fa-times"></i>
              </span>
            </div>
          </div>

          <div class="field mt-3 ">
            <div class="control">
              <button type="submit" class="button is-primary width-full" [ngClass]="{'is-loading': isSubmitted}" [disabled]="form.invalid">Zaloguj</button>
            </div>
            <div class="is-flex is-flex-direction-column is-align-items-center mt-2">
              <a routerLink="/register" class="has-text-centered">Nie masz jeszcze konta? Zarejestruj&nbsp;się</a>
              <a routerLink="/public-exercises" class="has-text-underlined mt-3">Powrót</a>
              <p [ngClass]="{'hidden': submitErrorCode === null || submitErrorCode === submitError }" class="help is-danger has-text-centered mt-3">Coś poszło nie tak, spróbuj&nbsp;ponownie później</p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>