@import "../../../styles.variables.scss";

$mobile: nth(
  $list: $size_breakpoints,
  $n: 1,
);
$tablet: nth(
  $list: $size_breakpoints,
  $n: 2,
);

.logo {
  max-width: 30vh;
  max-height: 30vh;

  @media screen and (orientation: portrait) {
    max-width: 30vw;
    max-height: 30vw;
  }
}

.hidden {
  visibility: hidden;
}

.columns.vertical {
  @media only screen and (min-width: nth($list: $tablet, $n: 2)),
    screen and (orientation: portrait) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .column.is-narrow {
    flex: none;
    height: unset;
  }
}
