<main class="root">
  <div class="container is-flex is-align-items-center">
    <div class="py-5">
      <div class="is-flex is-align-items-center is-justify-content-center mb-4">
        <img class="logo" src="assets/logo/png/logo-512x512.png" srcset="assets/logo/logo.svg" alt="">
      </div>
      <div class="box">
        <a class="button back is-white is-small mb-3" (click)="navigateBack()">
          <span class="icon is-small">
            <i class="fas fa-chevron-left"></i>
          </span>
          <span>Powrót</span>
        </a>

        <form [formGroup]="form" (ngSubmit)="submit()">
          <div class="field">
            <label for="email" class="label">E-mail</label>
            <div class="control has-icons-left has-icons-right">
              <input id="email" class="input is-primary" [ngClass]="{
                'is-primary': !email!.errors?.email && submitErrorCode !== SubmitError,
                'is-warning': email!.errors?.email,
                'is-danger': submitErrorCode === SubmitError
              }" type="email" formControlName="email" (input)="clearError()">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span *ngIf="email!.errors?.email" class="icon has-text-warning is-small is-right">
                <i class="fas fa-exclamation-triangle"></i>
              </span>
              <span *ngIf="submitErrorCode === SubmitError" class="icon has-text-danger is-small is-right">
                <i class="fas fa-times"></i>
              </span>
            </div>
            <p *ngIf="email!.errors?.email" class="help is-warning">Nieprawidłowy adres e-mail</p>
          </div>

          <div class="field">
            <label for="password" class="label">Hasło</label>
            <div class="control has-icons-left has-icons-right">
              <input id="password" class="input" [ngClass]="{
                'is-primary': submitErrorCode !== SubmitError,
                'is-danger': submitErrorCode === SubmitError
              }" type="password" formControlName="password" (input)="clearError()">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
              <span *ngIf="submitErrorCode === SubmitError" class="icon has-text-danger is-small is-right">
                <i class="fas fa-times"></i>
              </span>
            </div>
          </div>

          <div class="field mt-3 ">
            <div class="control">
              <button type="submit" class="button is-primary width-full" [ngClass]="{'is-loading': isSubmitted}" [disabled]="form.invalid">Zaloguj</button>
            </div>
            <div class="is-flex is-flex-direction-column is-align-items-center mt-2">
              <p *ngIf="submitErrorCode !== null && submitErrorCode !== SubmitError" class="help is-danger has-text-centered">Coś poszło nie tak, spróbuj&nbsp;ponownie później</p>
              <a class="has-text-centered mt-3" routerLink="/register" queryParamsHandling="preserve">Nie masz jeszcze konta?<br />Zarejestruj&nbsp;się</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
