@use "src/styles.variables.scss" as *;
$mobile: nth($size_breakpoints, 1);
$fullhd: nth($size_breakpoints, 5);

.mobile-unscrollable {
    overflow: auto;

    @media only screen and (max-width: nth($mobile, 3)) {
        overflow: hidden;
    }
}

.tile {
    &.panel.is-root {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    @media only screen and (min-width: nth($fullhd, 2)) {
        $special_sizes: 2, 10;
        @each $size in $special_sizes {
            &.is-#{$size}-bigscreen {
                width: ($size / 12) * 100%;
            }
        }
    }
}

a {
    transition: background-color 0.125s ease-out;
}

.menu-list li ul {
    margin-right: 0;
}

.is-hidden {
    display: none;
}

app-subject-ex-prev {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-top: 0.5rem;
    border-bottom: 1px solid #ededed;

    &:first-child {
        padding-top: 0.75rem;
    }

    &.panel-block:last-child {
        border-radius: 0;
    }
}
