<div class="field" [class.is-flex]="!hasLabelRight" (change)="onChange.emit()">
    <label *ngIf="label && !hasLabelRight" for="switch" class="is-clickable has-text-right has-text-weight-semibold mr-1">{{ label }}</label>
    <input id="switch" class="switch" [ngClass]="class" type="checkbox" [checked]="checked" (focus)="onFocus.emit()" (focusout)="onFocusOut.emit()">
    <label for="switch" class="has-text-weight-semibold" [class.is-clickable]="hasLabelRight">{{ hasLabelRight ? label : '' }}</label>
</div>
