.lb-v-dummy {
    width: 100% !important;
    display: block;
    height: 1px;
}

.lb-h-dummy {
    height: 100% !important;
    display: block;
    width: 1px;
}

.lb-clear {
    clear: both;
}

.lb-wrap {
    padding: 0 !important;
    z-index: 0;
    overflow: auto;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100% !important;
    height: 100% !important;
}

.lb-v-scrollbar {
    z-index: 1;
    position: absolute;
    right: 2px;
    width: 7px;
    height: 100%;
    background: #cfcfcf;
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}

.lb-h-scrollbar {
    z-index: 1;
    position: absolute;
    bottom: 2px;
    left: 2px;
    width: 100%;
    height: 7px;
    background: #cfcfcf;
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}

.lb-v-scrollbar-slider {
    position: absolute;
    width: 7px;
    height: 50px;
    left: 0;
    top: 0;
    background: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}

.lb-h-scrollbar-slider {
    position: absolute;
    height: 7px;
    width: 50px;
    left: 0;
    top: 0;
    background: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}

.lb-scroll-container-position-relative {
    position: relative;
}

.lb-scroll-container-overflow-hidden {
    overflow: hidden;
}

.lb-scroll-container-overflow-auto {
    overflow: auto;
}