<div *ngIf="hierarchy && exercises && !isLoading && errorCode === null" class="container height-full">
    <div class="tile is-ancestor height-full m-0 scrollable">
        <!--#region Unassigned exercise list -->
        <div class="tile is-parent is-3">
            <div class="tile is-child panel is-primary is-flex is-flex-direction-column unscrollable">
                <p class="panel-heading">Zadania</p>
                <div class="menu height-full scrollable">
                    <ul [id]="EXERCISE_LIST_ID" class="menu-list" cdkDropList cdkDropListSortingDisabled [cdkDropListData]="exercises" [cdkDropListConnectedTo]="getConnectedDropLists()">
                        <li *ngFor="let exercise of exercises" cdkDrag [cdkDragData]="exercise">
                            <a class="is-unselectable is-dragable">
                                <span class="icon">
                                    <i class="fas fa-file-alt"></i>
                                </span>
                                {{ exercise.name | titlecase }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--#endregion-->
        <!--#region Tree view -->
        <div class="tile is-parent">
            <div class="tile is-child box scrollable">
                <!--#region Top menu -->
                <div class="hierarchy-actions divider-bottom" [ngClass]="{
                    'has-background-primary-light': !isDarkTheme,
                    'has-background-primary-dark': isDarkTheme
                }">
                    <button class="button" [ngClass]="{
                        'is-primary is-light': !isDarkTheme,
                        'is-primary-dark': isDarkTheme
                    }" (click)="openModal(MODALS.ADD)">
                        <span class="icon is-small">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span>Dodaj kategorię</span>
                    </button>
                    <div class="buttons is-right">
                        <p *ngIf="submitErrorCode !== null" class="error-warning help is-danger">Coś poszło nie tak (kod błędu: {{ submitErrorCode }})</p>
                        <button class="button is-success" [class.is-loading]="isSubmitLoading" (click)="submit()">Zapisz</button>
                        <button class="button is-danger" (click)="cancel()" [disabled]="isSubmitLoading">Odrzuć</button>
                    </div>
                </div>
                <!--#endregion-->
                <div class="menu pt-4">
                    <ul [id]="HIERARCHY_LIST_ID" class="menu-list height-full" cdkDropList [cdkDropListData]="hierarchy" (cdkDropListDropped)="drop($event)">
                        <li *ngFor="let node of hierarchy" class="is-drag-item" cdkDrag [cdkDragData]="node" [cdkDragDisabled]="node.isSelected">
                            <ng-container [ngTemplateOutlet]="nodeTemplate" [ngTemplateOutletContext]="{ $implicit: node }"></ng-container>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--#endregion-->
    </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
<app-error *ngIf="errorCode !== null && !isLoading" [code]="errorCode"></app-error>
<app-unsaved-changes-modal [open]="isConfirmExitModalOpen" (onSubmit)="onExitSubmit()" (onDiscard)="onExitDiscard()" (onCancel)="onExitCancel()"></app-unsaved-changes-modal>

<!--#region Modal Add -->
<app-card-modal [title]="openedModal === MODALS.ADD ? 'Dodaj kategorię' : 'Dodaj podkategorię'" [open]="openedModal === MODALS.ADD || openedModal === MODALS.ADD_SUB" (onClose)="closeModal()">
    <section>
        <form id="addForm" [formGroup]="addForm" (ngSubmit)="add()">
            <div class="field">
                <div class="control has-icons-left">
                    <input class="input is-primary" type="text" formControlName="newName" placeholder="Nazwa">
                    <span class="icon is-small is-left">
                        <i class="fas fa-folder"></i>
                    </span>
                </div>
            </div>
        </form>
    </section>
    <footer class="width-full">
        <div class="buttons">
            <button type="submit" form="addForm" class="button is-success" [disabled]="addForm.invalid">Dodaj</button>
            <button class="button" (click)="closeModal()">Anuluj</button>
        </div>
    </footer>
</app-card-modal>
<!--#endregion-->

<!--#region Modal Edit -->
<app-card-modal [title]="'Zmień nazwę kategorii'" [open]="openedModal === MODALS.EDIT" (onClose)="closeModal()">
    <section>
        <form id="editForm" [formGroup]="editForm" (ngSubmit)="edit()">
            <div class="field">
                <div class="control has-icons-left">
                    <input class="input is-primary" type="text" formControlName="editName" placeholder="Nazwa">
                    <span class="icon is-small is-left">
                        <i class="fas fa-folder"></i>
                    </span>
                </div>
            </div>
        </form>
    </section>
    <footer class="width-full">
        <div class="buttons">
            <button type="submit" form="editForm" class="button is-success" [disabled]="editForm.invalid">Zmień</button>
            <button class="button" (click)="closeModal()">Anuluj</button>
        </div>
    </footer>
</app-card-modal>
<!--#endregion-->

<!--#region Modal Delete -->
<app-card-modal [title]="'Usuń kategorię'" [open]="openedModal === MODALS.DELETE" (onClose)="closeModal()">
    <section>
        <p class="has-text-justified">Czy na pewno chcesz usunąć tą kategorię? Wszystkie podkategorie zostaną również usunięte, ale zadania nie zostaną utracone i wciąż będzie je można dodać z listy zadań do innych kategorii.</p>
    </section>
    <footer>
        <div class="buttons">
            <button class="button is-danger" (click)="delete(); closeModal()">Usuń</button>
            <button class="button" (click)="closeModal()">Anuluj</button>
        </div>
    </footer>
</app-card-modal>
<!--#endregion-->

<!--#region Modal Discard -->
<app-card-modal [title]="'Odrzuć zmiany'" [open]="openedModal === MODALS.DISCARD" (onClose)="closeModal()">
    <section>
        <p class="has-text-justified">Czy na pewno chcesz odrzucić wszystkie zmiany?</p>
    </section>
    <footer>
        <div class="buttons">
            <button class="button is-danger" (click)="closeModal(); onExitDiscard()">Odrzuć</button>
            <button class="button" (click)="closeModal()">Anuluj</button>
        </div>
    </footer>
</app-card-modal>
<!--#endregion-->

<!--#region Tree node template -->
<ng-template #nodeTemplate let-node>
    <a class="is-flex is-unselectable" [ngClass]="{
        'is-selected': node.isSelected && node !== selectedFolder,
        'is-active': node === selectedFolder,
        'is-dragable': node.exerciseId
    }" (click)="selectNode(node)">
        <span class="icon">
            <i class="fas" [ngClass]="{
                'fa-folder': !node.exerciseId && !node.isSelected,
                'fa-folder-open': !node.exerciseId && node.isSelected,
                'fa-file-alt': node.exerciseId
            }"></i>
        </span>
        <span class="is-flex-grow-1">{{ node.name | titlecase }}</span>
        <button *ngIf="!node.exerciseId" class="button is-node-action" [ngClass]="getNodeActionStyle(node)" title="Zmień nazwę" (click)="openModal(MODALS.EDIT, node); $event.stopPropagation()">
            <i class="fas fa-pen"></i>
        </button>
        <button *ngIf="!node.exerciseId" class="button is-node-action" [ngClass]="getNodeActionStyle(node)" title="Dodaj podkategorię" (click)="openModal(MODALS.ADD_SUB, node); $event.stopPropagation()">
            <i class="fas fa-folder-plus"></i>
        </button>
        <button class="button is-node-action" [ngClass]="getNodeActionStyle(node)" title="Usuń" (click)="openModal(MODALS.DELETE, node); $event.stopPropagation()">
            <i class="fas fa-trash"></i>
        </button>
        <span *ngIf="!node.exerciseId" class="icon drag-handle" [class.is-disabled]="node.isSelected" cdkDragHandle>
            <i class="fas fa-arrows-alt"></i>
        </span>
    </a>
    <ul *ngIf="!node.exerciseId" [id]="node.id" class="menu-list" [class.is-collapsed]="!node.isSelected" cdkDropList [cdkDropListData]="node.children" (cdkDropListDropped)="drop($event)">
        <li *ngIf="node.children.length === 0" style="height: 10px;"></li>
        <li *ngFor="let child of node.children" class="is-drag-item" cdkDrag [cdkDragData]="child" [cdkDragDisabled]="child.isSelected">
            <ng-container [ngTemplateOutlet]="nodeTemplate" [ngTemplateOutletContext]="{ $implicit: child }"></ng-container>
        </li>
    </ul>
</ng-template>
<!--#endregion-->
