<div *ngIf="isLoading" class="height-full is-flex is-align-items-center is-justify-content-center p-6">
  <progress class="progress width-70 is-small is-primary" max="100">15%</progress>
</div>
<div *ngIf="errorCode !== null" class="height-full is-flex is-flex-direction-column is-align-items-center is-justify-content-center p-6">
  <img class="max-width-75 max-height-75" src="https://via.placeholder.com/1024x1024.png?text=Błąd" alt="">
  <!--TODO Grafika -->
  <h2 class="title has-text-centered">Ups, coś poszło nie tak!</h2>
  <h3 class="subtitle has-text-centered">Kod błędu: {{ errorCode }}</h3>
</div>
<div #exContainer *ngIf="errorCode === null"></div>