@use "src/styles.variables.scss" as *;
$tablet: nth($size_breakpoints, 2);

:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.field.content {
    @media only screen and (min-width: nth($tablet, 2)) {
        height: 80%;
        min-height: 300px;
        margin-bottom: 0;
    }
}

.tabs.is-boxed.for-box {
    margin-bottom: 0;

    & ul {
        border-bottom-color: var(--tab-border-color);
        z-index: 1;
    }

    & li {
        &:not(:first-child) a {
            margin-left: -1px;
        }

        & a {
            font-weight: 600;
            border: 1px solid var(--tab-border-color);
        }

        &.is-active a {
            color: inherit;
        }
    }
}

.tabs.is-boxed.for-box + .box {
    max-height: calc(100% - 2.75em);
    border: 1px solid var(--tab-border-color);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
    margin-top: -1px;

    & app-exercise {
        display: block;
        margin: -1.25rem;
    }
}

form {
    display: flex;
    flex-direction: column;
    height: 100%;

    & .field.for-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        & .control {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }
    }
}
