:host {
    z-index: 30;
}

.navbar-burger {
    &.has-burger-left {
        margin-left: 0;
    }

    &.has-logo {
        height: auto;
        margin-right: -0.75rem;
    }
}

.navbar-item {
    & img {
        max-height: 2.25rem;
    }

    &.logo {
        padding-bottom: 0.75rem;
    }

    &.menu-item {
        padding-bottom: 0.05rem;
    }
}

.hero.is-primary a.navbar-item {
    &:focus-within,
    &:focus-within:not(:hover) {
        color: inherit !important;
        background-color: inherit !important;
    }

    &.is-active {
        color: var(--primary) !important;
        background-color: var(--background-color) !important;
    }
}
